extends layout
block content


  #form.margin
    input#your_address(placeholder='Enter Your Address')
    input#number(placeholder='# of Stores')
    #submit GO!

  #display.hidden
    #result
    #refresh Refresh!
    #print Print!




  .map.hidden#map_canvas

  #directions.hidden
    .label Driving Direction
    .direction










