doctype html
html
  head
    title Using the Google Maps API
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://maps.googleapis.com/maps/api/js?sensor=true', type='text/javascript')
    script(src='/javascripts/jquery.js', type='text/javascript')
    script(src='/javascripts/script.js', type='text/javascript')

  body
    .container
      section#block
        block content

    .container.ref
      .referenceTitle Using Following Technologies:
    .container.links
      .referenceIcons
        #html5
        #css3
        #iojs
        #jade
        #stylus
        #jquery
        #mongodb
        #googlemaps
        #javascript
        #ubuntu
        #npm
        #express
        #digitalocean
    .container.footer
      footer#footer
        #copyright Check the source code out from my
          a(href='https://github.com/pavel-anisimov/GoogleMapsAPI')  Github
          |  account.
          br
          | Copyright © 2015,
          a(href='mailto:pavel.n.anisimov@gmail.com')  Pavel Anisimov.
          |  All rights reserved.






